<div>
    <h1>Formularios Binding Model</h1>
    <h2>{{ mensaje }}</h2>
    <!-- EL FORMULARIO DEBE TENER UN ID DE ANGULAR 
    INDICANDO COMO VALOR ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
        <label>Nombre</label>
        <!-- LOS CONTROLES DE FORMULARIO DEBEN TENER UN ID DE ANGULAR
        INDICANDO COMO VALOR ngModel-->
        <!-- PARA INDICAR EL MODELO ENLAZADO AL CONTROL DEBEMOS HACERLO
        CON LA SIGUIENTE SINTAXIS  [(ngModel)]="modelo"  -->
        <input type="text" name="cajanombre"
            #cajanombre="ngModel"
            [(ngModel)]="user.nombre" required/>
        <span style="color:red"
        *ngIf="cajanombre.valid == false && cajanombre.touched">
            El nombre es obligatorio
        </span>
        <br/>
        <label>Apellidos</label>
        <input type="text" name="cajaapellidos"
        #cajaapellidos="ngModel" [(ngModel)]="user.apellidos"
        pattern="^[A-Z]{1}[a-z]{2,}" />
        <span style="color:red"
        *ngIf="cajaapellidos.valid == false && cajaapellidos.touched">
            El apellido debe comenzar con mayúscula y tener mínimo 3 caracteres
        </span>
        <br/>
        <label>Edad</label>
        <input type="number" name="cajaedad"
        #cajaedad="ngModel" [(ngModel)]="user.edad"/><br/>
        <button [disabled]="!userForm.valid">
            Enviar datos
        </button>
    </form>
    <hr/>
    <h2 style="color:blue">
        Nombre: {{user.nombre}}
    </h2>
    <h2 style="color:red">
        Apellidos: {{user.apellidos}}
    </h2>
    <h2 style="color:fuchsia">
        Edad: {{user.edad}}
    </h2>
</div>